<div class=container>
  <div class="row">
    <div class="col-md-8">
      <h1>Attended Events</h1>
      <h2><% @event.attendings.each do |event|%></h2>
      <h2><%= event.attended_event.title%></h2>
         <h2><%= event.attended_event.date%></h2>
      <h2><%= event.attendee.name %></h2>
      <%end%>
    </div>
  </div>
</div>